<div id="page">
	
  <h1 class="emphnext">{{ page.title }}</h1>
  <ul class="tag_box inline">
  {% assign tags_list = page.tags %}
  {% include JB/tags_list %}
  </ul>


  {{ content }}

  <address class="signature">
    <a class="author" href="{{ HOME_PATH }}">{{ site.author.name }}</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>
  <!-- Place this tag where you want the +1 button to render. -->
  <div style="display: inline-block; margin-right: 0; margin-left: 0; position: relative;">
  <div style="display: inline-block; vertical-align: bottom; height: 61px; max-width: 58px; position: relative; margin: 0 8px;">
    <wb:follow-button uid="2068721331" type="gray_1" width="100" height="32" ></wb:follow-button>
  </div>
  <div style="display: inline-block; vertical-align: bottom; height: 61px; max-width: 58px; position: relative; margin: 0 8px;">
    <div class="g-plusone" data-annotation="inline" data-width="300" ></div>
  </div>
  </div>

  <!-- Place this tag after the last +1 button tag. -->
  <script type="text/javascript">
        window.___gcfg = {lang: 'zh-CN'};

          (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
  </script>
  <div class="prev-next">
  {% if page.next %}
    <a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">Next Post &rarr;</a>
  {% endif %}
  {% if page.previous %}
    <a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; Earlier Post</a>
  {% endif %}
  </div>
  
</div><!-- End Page -->

{% include JB/comments %}
